body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.top-container {
    width: 15rem;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
}

.board {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    width: 15rem;
    height: 15rem;
    border-style: none;
}


.square {
    background-color: white;
    border: 0.2rem solid darkgrey;
    border-collapse: collapse;
    font-size: 3rem;
    font-weight: bolder;
}

#square1 {
    border-top-style: none;
    border-left-style: none;
}

#square2 {
    border-top-style: none;
}

#square3 {
    border-top-style: none;
    border-right-style: none;
}

#square4 {
    border-left-style: none;
}

#square6 {
    border-right-style: none;
}

#square7 {
    border-bottom-style: none;
    border-left-style: none;
}

#square8 {
    border-bottom-style: none;
}

#square9 {
    border-bottom-style: none;
    border-right-style: none;
}

.square:hover{
    background-color: lightgrey;
}

.square:active{
    background-color: darkgrey;
}

.bottom-container {
    margin-top: 1rem;
}

.bottom-btn {
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 0.1rem solid darkgrey;
    background-color: lightgrey;
    color: black;
}